body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-image: url('pastelbg.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #8d8787;
    
}

header, footer {
    background-color: rgba(188, 235, 207, 0.15);
    padding: 20px 0;
    text-align: center;

}

#logo {
    width: 10%; /* Relative width */
    color: #8d8787;
    height: auto;
    padding: 10px 0;
    width: 130px;
}

.header {
    background-color: rgba(188, 235, 207, 0.15);
    padding: 20px 0;
    text-align: center;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

nav {
    margin-top: 20px;
    display: flex; /* Flexbox */
    justify-content: center; /* Center items horizontally */
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline; /* Display menu items horizontally */
    margin-right: 20px; /* Add spacing between menu items */
}

/*The following Overall, this code adjusts the layout of the navigation menu when the screen width is 768 pixels or less, making it more suitable 
for smaller screens or mobile devices by stacking menu items vertically and centering them within the navigation container.*/
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center; /* Center align vertically */
    }
    
    nav ul li {
        display: block; /* Display menu items vertically */
        margin: 10px 0; /* Add spacing between menu items */
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5; /* Adjust the line-height value to increase or decrease space between lines */
}
.container {
    width: 1200px; /*Adjust width of entire container*/
    margin:  auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align columns */
}
.column {
   
        width: auto;
        padding: 30px;
        box-sizing: border-box;
        margin: 0 0px;  /*Add margin for spacing between columns */
        text-align: left;
    }

    .img {
        max-width: 300%; /* Adjust the max-width property to widen the image */
        height: auto; /* Maintain aspect ratio */
        display: block;
        margin: 0 auto;
    }
    
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.social-icons a {
    margin: 0 10px; /* Adjust margin as needed */

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.8);
    padding: 5px 0;
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: #333;
}


